*{
    background-color: rgb(171, 222, 236);
    font-weight: 400;
    margin-right: 5px;
    margin-left: 5px;
}

.uploadstyle {
    background-color: rgb(141, 214, 203);
    padding: 10px;
    margin-top: 40%;
    font-weight: bold;  
    border-radius: 20px;
    margin-left: 15px;
}

.search {
    background: white;
    margin-bottom: 50px;    
    border-radius: 10px;
    margin-left: 75%;
    width: 25%;
}

.file-upload{
    border: 2px solid rgb(0, 0, 0);
    padding: 10%;
    display: flex;
    align-items: center;
    cursor: pointer; 
    border-radius: 15px;
    /* border: 5px solid #000000; */
    width: 100%;
    margin-top: 10px;
    margin-left: 10px;
}

.file-upload .file {
    display: none; 
}

.file-icon {
    margin-right: 10px; 
}

.file-text {
    margin-right: 10px; 
}

.upload-button {
    margin-top: 10px; 
    padding: 100px;
    margin-left: 15px;
}

.main{
    display: flex;
}



.tablestyle {
  width: 100% !important;
 text-align: center;
} 
.tablestyle tbody tr:nth-child(even) td  {
    background: #9f9c9c !important; /* White for even rows */
    color: rgb(255, 255, 255);
  }
.tablestyle thead th{
    background-color: #34a8ac !important;  /* Bootstrap primary color */
    color: white !important;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Adds a shadow to the text */

  }
  /* .tablestyle tbody td.even-row {
    background-color: #787272;
  } */
  
  /* .odd-row {
    background-color: #f9f9f9;
  } */

/* LoadingSpinner.css */
.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999; /* Ensure it covers all content */
  }
  
  .spinner {
    border: 8px solid rgba(255, 255, 255, 0.3);
    border-top: 8px solid white;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
